<div class="row">
  <div class="col-md-10">
      <h3>Driver App - Driver ID <b>{{driverId}}</b></h3>
  </div>
  <div class="col-md-2 text-right">
    <button class="btn btn-info" style="width: 100%" (click)="getData()" [disabled]="refreshOn">
      {{ refreshOn ? 'Refreshing...' : 'Refresh' }}
    </button>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="col-md-4 border"><h5 class="space">Waiting</h5></div>
  <div class="col-md-4 border"><h5 class="space">Ongoing</h5></div>
  <div class="col-md-4 border"><h5 class="space">Completed</h5></div>
</div>

<div class="row">
  <div class="col-md-4 border pad">
    <ng-container *ngFor="let ride of rideInfo.waiting; let idx=index">
      <br>
      <div class="card rideinfo">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6"><b>Req ID: </b> {{ride.request_id}}</div>
            <div class="col-md-6"><b>Cust ID: </b> {{ride.customer_id}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              {{getTime(ride.request_time)}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-success" style="width:80%" [ngClass]="{'disabled-ride': rideInfo.ongoing.length }"
              (click)="checkRequestAvailability(ride.request_id, idx)" [disabled]="rideInfo.ongoing.length">Select</button>
            </div>
          </div>
          <div class="alert alert-info text-center" *ngIf="msg && idx == curRequest">
            {{msg}}
          </div>
          <div class="alert alert-danger text-center" *ngIf="errMsg && idx == curRequest">
            {{errMsg}}
          </div>
        </div>
      </div>
    </ng-container>
  <br>
  </div>


  <div class="col-md-4 border pad">
    <ng-container *ngFor="let ride of rideInfo.ongoing; let idx=index">
        <br>
        <div class="card rideinfo">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6"><b>Req ID: </b> {{ride.request_id}}</div>
              <div class="col-md-6"><b>Cust ID: </b> {{ride.customer_id}}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 text-center">
                <b>Request: </b>{{getTime(ride.request_time)}}
              </div>
              <br>
              <div class="col-md-12 text-center">
                <b>Picked up: </b>{{getTime(ride.start_time)}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    <br>
  </div>

  <div class="col-md-4 border pad">
    <ng-container *ngFor="let ride of rideInfo.complete; let idx=index">
      <br>
      <div class="card rideinfo">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6"><b>Req ID: </b> {{ride.request_id}}</div>
            <div class="col-md-6"><b>Cust ID: </b> {{ride.customer_id}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <b>Request: </b>{{getTime(ride.request_time)}}
            </div>
            <br>
            <div class="col-md-12 text-center">
              <b>Picked up: </b>{{getTime(ride.start_time)}}
            </div>
            <br>
            <div class="col-md-12 text-center">
              <b>Complete: </b>{{getTime(ride.end_time)}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<br><br>
