<div class="row">
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">This will take you to dashboard.</p>
          <button routerLink="/dashboard" class="btn btn-primary">Go to Dashboard</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Customer App</h5>
          <p class="card-text">This will take you to Customer App.</p>
          <button routerLink="/customer" class="btn btn-primary">Go to Customer App</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Driver App</h5>
          <p class="card-text">This will take you to Driver App.</p>
          <div class="dropdown show">
            <button class="btn btn-primary dropdown-toggle" id="drivers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Go to Driver App</button>
            <div class="dropdown-menu" aria-labelledby="drivers">
              <a class="dropdown-item" routerLink="/driver/1">Driver 1</a>
              <a class="dropdown-item" routerLink="/driver/2">Driver 2</a>
              <a class="dropdown-item" routerLink="/driver/3">Driver 3</a>
              <a class="dropdown-item" routerLink="/driver/4">Driver 4</a>
              <a class="dropdown-item" routerLink="/driver/5">Driver 5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>