<div class="row">
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">This will take you to dashboard.</p>
          <a routerLink="/dashboard" class="btn btn-primary">Go to Dashboard</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Customer App</h5>
          <p class="card-text">This will take you to Customer App.</p>
          <a routerLink="/customer" class="btn btn-primary">Go to Customer App</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Driver App</h5>
          <p class="card-text">This will take you to Driver App.</p>
          <a routerLink="/driver" class="btn btn-primary">Go to Driver App</a>
        </div>
      </div>
    </div>
</div>