<div class="row">
  <div class="col-md-10">
      <h3>Dashboard</h3>
  </div>
  <div class="col-md-2 text-right">
    <button class="btn btn-info" style="width: 100%" (click)="getData()" [disabled]="refreshOn">
      {{ refreshOn ? 'Refreshing...' : 'Refresh' }}
    </button>
  </div>
</div>

<br>

<div>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Request ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Time Elapsed</th>
        <th scope="col">Status</th>
        <th scope="col">Driver ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ride of rideInfo">
        <th scope="row">{{ride.request_id}}</th>
        <td>{{ride.customer_id}}</td>
        <td>{{getTime(ride.request_time)}}</td>
        <td>{{getStatus(ride.status)}}</td>
        <td>{{ride.driver_id ? ride.driver_id : 'Not assigned'}}</td>
      </tr>
    </tbody>
  </table>
</div>